{% extends "admin/base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Scoreboard</h1>
    </div>
</div>
<style>
    .custom-tab-padding {
        padding: 10px 20px; /* Adjust padding as needed */
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="float-right pb-3">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary" id="scoreboard-edit-button"
                        data-toggle="tooltip" title="Hide/Unhide Accounts">
                        <i class="btn-fa fas fa-eye"></i>
                    </button>
                    <a href="{{ url_for('admin.export_data') }}" class="btn btn-outline-primary" title="Export Data">
                        <i class="btn-fa fas fa-file-excel"></i> Export
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% if Configs.user_mode == UserModeTypes.TEAMS %}
    <div class="row pb-4">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active custom-tab-padding" data-toggle="tab" href="#standings" role="tab">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-tab-padding" data-toggle="tab" href="#user-standings" role="tab">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-tab-padding" data-toggle="tab" href="#awards" role="tab">Awards</a>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 table-responsive">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="standings" role="tabpanel">
                    {% include "admin/scoreboard/standings.html" %}
                </div>
                {% if Configs.user_mode == UserModeTypes.TEAMS %}
                <div class="tab-pane fade" id="user-standings" role="tabpanel">
                    {% include "admin/scoreboard/users.html" %}
                </div>
                <div class="tab-pane fade" id="awards" role="tabpanel">
                    <h3 class="text-center m-5">Awards</h3>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#first-blood" role="tab">First Blood Awards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#top-solves" role="tab">Top Solves Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#top-solves-topic" role="tab">Top Teams Clears All Challenges</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="challenge-master" role="tabpanel">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Challenge</th>
                                        <th>Team</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for challenge_master in challenge_masters %}
                                    <tr>
                                        <td>{{ challenge_master.challenge_name }}</td>
                                        <td>{{ challenge_master.team_name or challenge_master.user_name }}</td>
                                        <td>{{ challenge_master.max_score }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="first-blood" role="tabpanel">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Challenge</th>
                                        <th>User</th>
                                        <th>Team</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for first_blood in first_bloods %}
                                    <tr>
                                        <td>{{ first_blood.challenge }}</td>
                                        <td>{{ first_blood.user_name }}</td>
                                        <td>{{ first_blood.team_name }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="top-submitssion" role="tabpanel">
                            {% include "admin/scoreboard/FastSubmission.html" %}
                        </div>
                        <div class="tab-pane fade" id="top-solves" role="tabpanel">
                            {% include "admin/scoreboard/TopTeamSolves.html" %}
                        </div>
                        <div class="tab-pane fade" id="top-solves-topic" role="tabpanel">
                            {% include "admin/scoreboard/TopClear.html" %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block entrypoint %}
{{ Assets.js("assets/js/pages/scoreboard.js", theme="admin") }}
{% endblock %}