{% extends "admin/base.html" %}

{% block stylesheets %}
{{ Assets.css("assets/css/challenge-board.scss", theme="admin") }}
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Challenge Template
        </h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <hr>
    <div class="row">
        
        <div class="col-md-12">
            <label>Upload File template:</label>
            <form method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="file" class="form-label">Choose a file to upload:</label>
                    <input type="file" class="form-control" id="file" name="file">
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            <br>
            {% if messages %}
                    <div class="alert alert-info">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            <div>
                <label>Files template:</label>
                <ul id="template-list">
                    {% for filename in template_files %}
                    <li class="list-unstyled">
                        <a href="{{ url_for('admin.download_template', filename=filename) }}" download>
                            {{ filename }}
                        </a>
                    </li>
                    {% else %}
                    <li>No templates available.</li>
                    {% endfor %}
                </ul>
                <label>
            </div>
        </div>
    </div>
</div>
{% endblock %}