<div role="tabpanel" class="tab-pane config-section" id="visibility">
	{%
	with form = Forms.config.VisibilitySettingsForm(
	score_visibility=score_visibility,
	challenge_difficulty_visibility=challenge_difficulty_visibility
	)
	%}
	<form method="POST" autocomplete="off" class="w-100">
		<input type="hidden" name="nonce" value="{{ Session.nonce }}">
		<div class="form-group">
			{{ form.score_visibility.label }}
			{{ form.score_visibility(class="form-control custom-select") }}
			<small class="form-text text-muted">
				{{ form.score_visibility.description }}
			</small>
		</div>

		<div class="form-group">
			{{ form.challenge_difficulty_visibility.label }}
			{{ form.challenge_difficulty_visibility(class="form-control custom-select") }}
			<small class="form-text text-muted">
				{{ form.challenge_difficulty_visibility.description }}
			</small>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">Update</button>
	</form>
	{% endwith %}
</div>