[Unit]
Description=FCTF Challenge Management Server
After=network.target

[Service]
ExecStart=/home/ubuntu/FCTF-Platform-Deploy/ControlCenterAndChallengeHostingServer/ChallengeManagementServer/bin/Release/net8.0/linux-x64/publish/ChallengeManagementServer
WorkingDirectory=/home/ubuntu/FCTF-Platform-Deploy/ControlCenterAndChallengeHostingServer/ChallengeManagementServer/bin/Release/net8.0/linux-x64/publish
Restart=always
RestartSec=10
SyslogIdentifier=fctf-challenge
StandardOutput=append:/home/ubuntu/FCTF-Platform-Deploy/fctf-app.log
StandardError=append:/home/ubuntu/FCTF-Platform-Deploy/fctf-app.log
User=ubuntu
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target