{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>{% trans %}Join Team{% endtrans %}</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
        {% include "components/errors.html" %}

        {% if errors %}
          {% for error in errors %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endfor %}
        {% endif %}

        {% if team %}
          <p class="h3 text-center mt-md-4">
            {% trans %}Welcome to{% endtrans %} <strong>{{ team.name }}</strong>!
          </p>

          <p class="text-center">
            {% trans %}Please provide your contestant credentials to join the team.{% endtrans %}
          </p>

          <form method="POST">
            <div class="form-group">
              <label for="username"><b>{% trans %}Contestant Username{% endtrans %}</b></label>
              <input class="form-control" id="username" name="username" type="text" required autocomplete="off">
            </div>
            <div class="form-group">
              <label for="password"><b>{% trans %}Contestant Password{% endtrans %}</b></label>
              <input class="form-control" id="password" name="password" type="password" required autocomplete="off">
            </div>

            <div class="row pt-3 text-center">
              <div class="col-md-12">
                <button type="submit" class="btn btn-success w-100">
                  {% trans %}Join Team{% endtrans %}
                </button>
              </div>
            </div>
            <input type="hidden" name="nonce" value="{{ Session.nonce }}">
          </form>
        {% else %}
           <div class="alert alert-warning text-center">
             {% trans %}No valid team found for this invite link.{% endtrans %}
           </div>
        {% endif %}


      </div>
    </div>
  </div>
{% endblock %}
