# Database connection strings
DB_FCTF_URL=mysql+pymysql://ctfd-username:Y3RmZC1wYXNzd29yZEA@34.96.192.125:32206/ctfd
DB_CTFD_URL=mysql+pymysql://ctfd:ctfd@localhost:3306/ctfd
# user:password@host:port/database
# Mapping file paths
MAPPING_FCTF_TO_CTFD=./mapping_fctf_to_ctfd.json
MAPPING_CTFD_TO_FCTF=./mapping_ctfd_to_fctf.json