# Database connection strings
DB_KCTF_URL=mysql+pymysql://ctfd-username:Y3RmZC1wYXNzd29yZEA@dbzmn0zjiwmju.fctf.cloud:30306/ctfd
DB_CTFD_URL=mysql+pymysql://ctfd-username:hehehehehehehehe1234@dbzmn0zjiwmju.fctf.cloud:30406/ctfd

# Mapping file paths
MAPPING_KCTF_TO_CTFD=./mapping_fctf_to_ctfd.json
MAPPING_CTFD_TO_KCTF=./mapping_ctfd_to_fctf.json
