<table id="scoreboard" class="clean-table table">
	<thead>
		<tr>
			<th data-checkbox>
				<input type="checkbox" class="table-check" id="scoreboard-bulk-select" autocomplete="off" data-checkbox-all>
			</th>
			<th class="sort-col text-center"><b>Place</b></th>
			<th class="sort-col"><b>{{ get_mode_as_word(capitalize=True) }}</b></th>
			<th class="sort-col"><b>Score</b></th>
			<th class="sort-col"><b>Visibility</b></th>
		</tr>
	</thead>
	<tbody>
	{% for standing in standings %}
		<tr data-href="{{ generate_account_url(standing.account_id, admin=True) }}">
			<td data-checkbox>
				<input type="checkbox" class="table-check" value="{{ standing.account_id }}" data-account-id="{{ standing.account_id }}" autocomplete="off">
			</td>
			<td class="text-center" width="10%">{{ loop.index }}</td>
			<td class="cell-truncate">
				<a href="{{ generate_account_url(standing.account_id, admin=True) }}">
					{{ standing.name | truncate(32) }}
					{% if standing.oauth_id %}
						{% if get_config('user_mode') == 'teams' %}
							<a href="https://majorleaguecyber.org/t/{{ standing.name }}">
								<span class="badge badge-primary">Official</span>
							</a>
						{% elif get_config('user_mode') == 'users' %}
							<a href="https://majorleaguecyber.org/u/{{ standing.name }}">
								<span class="badge badge-primary">Official</span>
							</a>
						{% endif %}
					{% endif %}
				</a>
			</td>
			<td>{{ standing.score }}</td>
			<td>
				{% if standing.hidden %}
					<button class="scoreboard-toggle clean-btn scoreboard-status-btn is-hidden"
						data-account-id="{{ standing.account_id }}"
						data-state="hidden">Hidden</button>
				{% else %}
					<button class="scoreboard-toggle clean-btn scoreboard-status-btn is-visible"
						data-account-id="{{ standing.account_id }}"
						data-state="visible">Visible</button>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>