{% block header %}
{% endblock %}

<script>
	document.addEventListener('DOMContentLoaded', function() {
		const setupDockerElement = document.getElementById("setup_docker");
		if (setupDockerElement) {
			setupDockerElement.addEventListener("click", () => {
				const uploadFileSection = document.querySelector(".upload-file");
				const multi_files = document.querySelector(".multi_files");
				const exposePortContainer = document.getElementById("expose_port_container");
				if (multi_files) multi_files.classList.toggle("d-none", setupDockerElement.checked);
				if (uploadFileSection) uploadFileSection.classList.toggle("d-none", !setupDockerElement.checked);
				if (exposePortContainer) exposePortContainer.classList.toggle("d-none", !setupDockerElement.checked);
			});
		}
	});
</script>

<form method="POST" action="{{ script_root }}/admin/challenges/new" enctype="multipart/form-data">
	{% block name %}
	<div class="form-group">
		<label>
			Name:<br>
			<small class="form-text text-muted">
				The name of your challenge (Maximum 40 characters)
			</small>
		</label>
		<input type="text" class="form-control chal-name" name="name" placeholder="Enter challenge name" maxlength="40" required>
		<small class="form-text text-muted">
			<span id="char-count">0</span>/40 characters
		</small>
	</div>
	{% endblock %}

	{% block category %}
	<div class="form-group">
		<label>
			Category:<br>
			<small class="form-text text-muted">
				The category of your challenge (Maximum 20 characters)
			</small>
		</label>
		<input type="text" class="form-control" name="category" placeholder="Enter challenge category" maxlength="20" required>
	</div>
	{% endblock %}



	{% block message %}
	<div  class="form-group">
		<label>
			Files
			<small class="form-text text-muted">Select PDF file as a description (Maximum 5MB)</small>
		</label>
		<input class="form-control-file" type="file" name="file" id="file-upload" accept=".pdf" />
		<input  type="hidden" name="file_upload" value="description" />
	</div>
	<div class="form-group">
		<label>
			Message:<br>
			<small class="form-text text-muted">
				Use this to give a brief introduction to your challenge.
			</small>
		</label>
		<textarea id="new-desc-editor" class="form-control markdown" name="description" rows="10"></textarea>
	</div>
	{% endblock %}
	{% block time_limit %}
	<div class="form-group">
		<label>
			Time Limit:<br>
			<small class="form-text text-muted">
				Specify the time limit for solving this challenge.
			</small>
		</label>
		<input type="number" class="form-control" name="time_limit" min="1" max="30" value="30" placeholder="Enter value" required>
	</div>
	{% endblock %}
	<div class="form-group">
		<label>
			Max Attempts<br>
			<small class="form-text text-muted">Maximum amount of attempts users receive. Leave at 0 for
				unlimited.</small>
		</label>

		<input type="number" class="form-control chal-attempts" name="max_attempts"
			value="0" min="0" step="1" required>
	</div>
	{% block cooldown %}
	<div class="form-group">
        <label for="submission_cooldown">
            Submission cooldown (seconds):<br>
            <small class="form-text text-muted">Minimum number of seconds required between two submissions for this challenge (0 = disabled).</small>
        </label>
        <input type="number" class="form-control" id="submission_cooldown" name="cooldown" min="0" step="1" value="0">
    </div>
	{% endblock %}
	{% block value %}
	<div class="form-group">
		<label>
			Value:<br>
			<small class="form-text text-muted">
				This is how many points are rewarded for solving this challenge.
			</small>
		</label>
		<input type="number" class="form-control" name="value" placeholder="Enter value" required>
	</div>
	{% endblock %}
	{% block user_id %}
	<div class="form-group">
		<input type="hidden" class="form-control" name="user_id" value="{{ Session.id }}">
	</div>
	{% endblock %}

	{% block state %}
	<input type="hidden" name="state" value="hidden">
	{% endblock %}

	{% block type %}
	<input type="hidden" name="type" value="standard">
	{% endblock %}

	{% block submit %}
	<div class="form-group">
		<button class="btn btn-primary float-right create-challenge-submit" type="submit">Create</button>
	</div>
	{% endblock %}
</form>

{% block footer %}
{% endblock %}