{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Create Challenge</h1>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" role="dialog" id="challenge-create-options">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Options</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <label>
                                    Flag:<br>
                                    <small class="form-text text-muted">Static flag for your challenge</small>
                                </label>
                                <input type="text" class="form-control" name="flag">
                            </div>
                            <div class="col-md-4">
                                <label>
                                    &nbsp;
                                    <small class="form-text text-muted">&nbsp;</small>
                                </label>
                                <select class="form-control custom-select w-100" name="flag_data">
                                    <option value="">Case Sensitive</option>
                                    <option value="case_insensitive">Case Insensitive</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="flag_type" value="static">
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="require_deploy" id="setup_docker">
                            Setup Docker
                        </label>
                    </div>
                    <div class="form-group d-none" id="expose_port_container">
                        <label> Expose port <br>
                        <small class="form-text text-muted">Expose a port for the Docker container</small>
                        </label>
                        <input type="text" class="form-control" name="expose_port" id="expose_port"  min="1" step="1" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                    </div>
                    <div class="form-group">
                        <label>
                            CPU Limit (mCPU) <br>
                            <small class="form-text text-muted">Maximum CPU the challenge pod is allowed to use.</small>
                        </label>
                        <input type="number" class="form-control" name="cpu_limit" min="1" max="500" value="300" required>
                    </div>
                    <div class="form-group">
                        <label>
                            CPU Request (mCPU) <br>
                            <small class="form-text text-muted">Minimum CPU requested for scheduling.</small>
                        </label>
                        <input type="number" class="form-control" name="cpu_request" min="1" max="500" value="300" required>
                    </div>
                    <div class="form-group">
                        <label>
                            Memory Limit (Mi) <br>
                            <small class="form-text text-muted">Maximum memory the challenge pod is allowed to use.</small>
                        </label>
                        <input type="number" class="form-control" name="memory_limit" min="1" max="1024" value="256" required>
                    </div>
                    <div class="form-group">
                        <label>
                            Memory Request (Mi) <br>
                            <small class="form-text text-muted">Minimum memory requested for scheduling.</small>
                        </label>
                        <input type="number" class="form-control" name="memory_request" min="1" max="1024" value="256" required>
                    </div>
                    <div class="form-group">
                        <label>
                            Use gVisor <br>
                            <small class="form-text text-muted">Run the pod with gVisor sandbox for extra isolation.</small>
                        </label>
                        <select class="form-control" name="use_gvisor" required>
                            <option value="true" selected>True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="form-group d-none upload-file">
                            <label>Files template:</label>
                            <ul id="template-list">
                                {% for filename in template_files %}
                                <li class="list-unstyled">
                                    <a href="{{ url_for('admin.download_template', filename=filename) }}" download>
                                        {{ filename }}
                                    </a>
                                </li>
                                {% else %}
                                <li>No templates available.</li>
                                {% endfor %}
                            </ul>
                            <label>
                                Deploy Files:
                                <small class="form-text text-muted">Files distributed along with your challenge</small>
                            </label>
                            <input class="form-control-file" type="file" accept=".zip" name="deploy_file">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group multi_files">
                            <label>
                                Files:
                                <small class="form-text text-muted">Files distributed along with your challenge</small>
                            </label>
                            <input class="form-control-file" type="file" name="file">
                            <sub class="text-muted">Attach multiple files using Control+Click or Cmd+Click</sub>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>
                            State<br>
                            <small class="form-text text-muted">Should the challenge be visible to users</small>
                        </label>
                        <select class="form-control custom-select" name="state">
                            <option value="visible">Visible</option>
                            <option value="hidden" selected>Hidden</option>
                        </select>
                    </div>

                    <input id="require_deploy" type="hidden" name="require_deploy">
                    <input id="challenge_id" type="hidden" name="challenge_id">

                    <div class="form-group">
                        <button class="btn btn-primary float-right create-challenge-submit"
                            type="submit" id="deploy-btn">Finish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 offset-md-1">
            <div class="col-title">
                <h5 class="text-center">
                    Challenge Types
                </h5>
            </div>
            <div id="create-chals-select">
                {% for type in types %}
                <label class="w-100">
                    <input type="radio" name="type" class="card-radio d-none" value="{{ type }}" {% if type=="standard" %}checked{% endif %} />
                    <!-- <div class="cyberpunk-card">
                        <div class="form-check">
                            <input class="form-check-input card-radio-clone" type="radio" style="visibility: hidden;" checked>
                            <span class="form-check-label">{{ type }}</span>
                        </div>
                    </div> -->
					<div class="card rounded-0">
						<div class="card-body">
							<span class="card-title">
								<div class="form-check">
									<input class="form-check-input card-radio-clone" type="radio"
										style="visibility: hidden;" checked>
									<span class="form-check-label">{{ type }}</span>
								</div>
							</span>
						</div>
					</div>
                </label>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-7">
            <div class="col-title">
                <h5 class="text-center">
                    Information
                </h5>
            </div>
            <div id="create-chal-entry-div"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const radioButtons = document.querySelectorAll('.card-radio');
        const cards = document.querySelectorAll('.cyberpunk-card');

        radioButtons.forEach((radio, index) => {
            radio.addEventListener('change', function () {
                cards.forEach(card => card.classList.remove('active'));
                if (radio.checked) {
                    cards[index].classList.add('active');
                }
            });

            // Initialize the active class based on the checked radio button
            if (radio.checked) {
                cards[index].classList.add('active');
            }
        });
        cards.forEach((card, index) => {
            card.addEventListener('click', function () {
                radioButtons[index].checked = true;
                radioButtons[index].dispatchEvent(new Event('change'));
            });
        });
    });

    // Handle Setup Docker checkbox toggle - using jQuery for consistency
    $(document).on('change', '#setup_docker', function() {
        const isChecked = $(this).is(':checked');
        console.log('Setup Docker checkbox changed:', isChecked);
        
        if (isChecked) {
            $('#expose_port_container').removeClass('d-none');
            $('.upload-file').removeClass('d-none');
            $('.multi_files').addClass('d-none');
        } else {
            $('#expose_port_container').addClass('d-none');
            $('.upload-file').addClass('d-none');
            $('.multi_files').removeClass('d-none');
        }
    });

    // Also handle when modal is shown
    $('#challenge-create-options').on('shown.bs.modal', function() {
        const setupDockerCheckbox = $('#setup_docker');
        if (setupDockerCheckbox.is(':checked')) {
            $('#expose_port_container').removeClass('d-none');
            $('.upload-file').removeClass('d-none');
            $('.multi_files').addClass('d-none');
        } else {
            $('.multi_files').removeClass('d-none');
        }
    });
</script>
{% endblock %}

{% block entrypoint %}
{{ Assets.js("assets/js/pages/challenge.js", theme="admin") }}
{% endblock %}