{% extends "base.html" %}

{% block content %}

<div class="container">
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file" accept=".zip" required>
        <button type="submit">Upload</button>
    </form>

    <div id="response"></div>


</div>
<script>
    document.getElementsById("#uploadForm").addEventListener('submit', function(event){
        event.preventDefault();

        const fileInput= document.getElementById("#fileInput")
        const file= fileInput.files[0]

        const formData = new FormData();
        formData.append('file', file);

        

    })
</script>

{% block content %}