@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-fptorange: #F27024;
  --color-fptgray: #434343;
}

@layer base {
  body {
    @apply antialiased text-gray-800 bg-gray-50;
    font-family: 'Inter', sans-serif;
  }
}
