{% extends "admin/base.html" %}

{% block stylesheets %}
    {{ Assets.css("assets/css/challenge-board.scss", theme="admin") }}
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>Ticket Details</h1>
        </div>
    </div>

    <div class="container">
        
        {% if ticket_data %}
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>ID</th>
                            <td>{{ ticket_data.id }}</td>
                        </tr>
                        <tr>
                            <th>Author Name</th>
                            <td>{{ ticket_data.author_name }}</td>
                        </tr>
                        <tr>
                            <th>Create date</th>
                            <td>
                                {% if ticket_data.date %}
                                    <span id="create-date">{{ ticket_data.date }}</span>
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Replier</th>
                            <td>{{ ticket_data.replier_name if ticket_data.replier_name is not none else 'N/A' }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ ticket_data.status if ticket_data.status is not none else 'N/A' }}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{ ticket_data.type}}</td>
                        </tr>

                        <tr>
                            <th>Title</th>
                            <td>{{ ticket_data.title }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>
                                <textarea class="form-control" rows="6" readonly>{{ ticket_data.description }}</textarea>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            
            <div class="row mt-4">
                <div class="col-md-12">

                    {% if ticket_data.status == 'Closed' and ticket_data.replier_message %}
                        <div class="form-group">
                            <textarea class="form-control" rows="6">
                                {{ticket_data.replier_message}}
                            </textarea>
                        </div>
                    {% else %}
                    <h3>Write Your Response:</h3>
                    <form action="{{url_for('admin.send_response')}}" method="post">
                        <div class="form-group">
                            <label for="response">Response:</label>
                            <textarea id="response" name="response" class="form-control" rows="6" required></textarea>
                        </div>
                        <input type="hidden" id="replier_id" name="replier_id" value="{{ userId }}">
                        <input type="hidden" id="ticket_id" name="ticket_id" value="{{ ticket_data.id }}">
                        <button type="submit" class="btn btn-primary">Submit Response</button>
                    </form>
                    {% endif %}


                    
                </div>
            </div>
            
        {% else %}
            <div class="alert alert-danger" role="alert">
                No Ticket Found
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var dateStr = document.getElementById("create-date").innerText;
        
        if (dateStr) {
            var date = new Date(dateStr);
            var formattedDate = date.toLocaleString('en-GB', {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
                hour12: false
            });
            
            document.getElementById("create-date").innerText = formattedDate;
        }
    });
</script>
{% endblock %}